<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
	<h1>Agregar datos</h1>
	<a href="/listar">Lista de datos</a>
	<a href="/agregar">Agregar datos</a>

	<form action="/agregar" method="POST">
		Nombre: <input type="text" name="nombre"><br>
		Apellido: <input type="text" name="apellido"><br>
		Ciudad: <input type="text" name="ciudad"><br>
		<input type="submit" name="enviar" value="enviar">

	</form>
</body>
</html>